{% extends 'base.html.twig' %}

{% block title %}Détails de la Réservation{% endblock %}

{% block main %}
    <div class="container mt-4">
        <h1 class="mb-4">Détails de la Réservation</h1>

        <table class="table table-bordered">
            <tbody>
               
                <tr>
                    <th scope="row">Sujet</th>
                    <td>{{ reservation.topic }}</td>
                </tr>
                <tr>
                    <th scope="row">Heure de début</th>
                    <td>{{ reservation.startTime ? reservation.startTime|date('Y-m-d H:i:s') : 'Non spécifiée' }}</td>
                </tr>
                <tr>
                    <th scope="row">Heure de fin</th>
                    <td>{{ reservation.endTime ? reservation.endTime|date('Y-m-d H:i:s') : 'Non spécifiée' }}</td>
                </tr>
                <tr>
                    <th scope="row">Statut</th>
                    <td>{{ reservation.status }}</td>
                </tr>
            </tbody>
        </table>

        <div class="d-flex gap-2">
            <a href="{{ path('app_reservation_edit', {'id': reservation.id}) }}" class="btn btn-primary">Modifier</a>
            {{ include('reservation/_delete_form.html.twig') }}
        </div>
    </div>
{% endblock %}