{% extends 'base.html.twig' %}

{% block title %}Home - Append Bootstrap Template{% endblock %}

{% block main %}
  <main class="main">

    <!-- Page Title -->
    <div class="page-title" data-aos="fade">
      <div class="heading">
        <div class="container">
          <div class="row d-flex justify-content-center text-center">
            <div class="col-lg-8">
              <h1>Cours Détail</h1>
              <p class="mb-0">Rejoignez-nous dès aujourd'hui et donnez un coup d'accélérateur à votre apprentissage !</p>
            </div>
          </div>
        </div>
      </div>
      <nav class="breadcrumbs">
        <div class="container">
          <ol>
            <li><a href="index.html">Home</a></li>
            <li class="current">Cours Detail</li>
          </ol>
        </div>
      </nav>
    </div><!-- End Page Title -->

    <div class="container">
      <div class="row">

        <!-- Main Content -->
        <div class="col-lg-8">

          <!-- Blog Details Section -->
          <section id="blog-details" class="blog-details section">
            <div class="container">
              <article class="article">
                <div class="post-img">
                  <img src="{{ asset('assets/img/blog/blog-1.jpg') }}" alt="" class="img-fluid">
                </div>

                <h2 class="title">Bienvenue sur notre plateforme d'apprentissage !</h2>

                <div class="content">
                  <p>
                     Ici, vous trouverez une variété de cours au format PDF, soigneusement élaborés par nos enseignants expérimentés. 
                    Chaque cours est détaillé et conçu pour vous fournir une compréhension approfondie des sujets abordés.
                  </p>

                  <p>
                    Pour renforcer vos connaissances, nous proposons également des quiz interactifs qui vous permettront de tester vos acquis et d'évaluer votre progression.
                    À la fin de chaque module, vous aurez la possibilité d'obtenir un certificat, attestant de vos compétences et de votre engagement à vous améliorer.
                  </p>

                  <blockquote>
                    <p>Le travail acharné surmonte tous les obstacles</p>
                  </blockquote>
                </div><!-- End post content -->
              </article>
            </div>
          </section><!-- /Blog Details Section -->

          <!-- Blog Author Section -->
          <section id="blog-author" class="blog-author section">
            <div class="container">
              <div class="author-container d-flex align-items-center">
                <img src="{{ asset('assets/img/blog/blog-author.jpg') }}" class="rounded-circle flex-shrink-0" alt="">
                <div>
                  <h4>Jane Smith</h4>
                  <div class="social-links">
                    <a href="https://x.com/#"><i class="bi bi-twitter-x"></i></a>
                    <a href="https://facebook.com/#"><i class="bi bi-facebook"></i></a>
                    <a href="https://instagram.com/#"><i class="bi bi-instagram"></i></a>
                  </div>
                  <p>
                    Itaque quidem optio quia voluptatibus dolorem dolor. Modi eum sed possimus accusantium. Quas repellat voluptatem officia numquam sint aspernatur voluptas. Esse et accusantium ut unde voluptas.
                  </p>
                </div>
              </div>
            </div>
          </section><!-- /Blog Author Section -->

        </div><!-- End Main Content -->

        <!-- Sidebar -->
        <div class="col-lg-4 sidebar">
          <div class="widgets-container">

                        <!-- Liste des Quiz -->
            <div class="recent-posts-widget widget-item">
              <h3 class="widget-title">Liste des Quiz</h3>

              

              {% for quiz in quizzes %}
                  <div class="post-item">
                    <div>
                      <h4><a href="{{ path('app_quiz_play', {'id': quiz.id}) }}"></a></h4>
                    </div>
                  </div><!-- End recent post item-->
                {% else %}
                  <p>Aucun quiz disponible pour le moment.</p>
              {% endfor %}
            </div><!--/Liste des Quiz -->
          </div><!--/Liste des Quiz -->
            <!-- Liste des Certificats -->
            <div class="recent-posts-widget widget-item">
              <h3 class="widget-title">Liste des Certificats</h3>

              {% if certificat %}
                <div class="post-item">
                  <div>
                    <h4><a href="{{ path('app_certificat_jouer', {'id': certificat.id}) }}">{{ certificat.nomc }}</a></h4>
                  </div>
                </div><!-- End recent post item-->
              {% else %}
                <p>Aucun certificat disponible pour le moment.</p>
              {% endif %}
            </div><!--/Liste des Certificats -->



          </div>
        </div><!-- End Sidebar -->

      </div>
    </div>

  </main>
{% endblock %}