{# First Name Field #}
<div class="form-group">
    {{ form_label(form.first_name, "First Name") }}
{{ form_widget(form.first_name, { 'attr': {'class': 'form-control'}}) }}
{{ form_errors(form.first_name) }}

</div>

{# Last Name Field #}
<div class="form-group">
    {{ form_label(form.last_name, "Last Name") }}
{{ form_widget(form.last_name, { 'attr': {'class': 'form-control'}}) }}
{{ form_errors(form.last_name) }}

</div>

{# Email Field #}
<div class="form-group">
    {{ form_label(form.email, "Email") }}
    {{ form_widget(form.email, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.email) }}
</div>

{# Password Field #}
<div class="form-group">
    {{ form_label(form.password.first, "Password") }}
    {{ form_widget(form.password.first, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.password.first) }}
</div>

<div class="form-group">
    {{ form_label(form.password.second, "Confirm Password") }}
    {{ form_widget(form.password.second, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.password.second) }}
</div>

{# Roles Field #}
<div class="form-group">
    {{ form_label(form.roles, "Roles") }}
    {{ form_widget(form.roles, {'attr': {'class': 'form-control'}}) }}
    {{ form_errors(form.roles) }}
</div>

<button type="submit" class="btn btn-primary">Submit</button>
